In [19]:
#import Pandas
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv(r"D:\Personal\Udemy-Training\complete-data-wrangling-data-visualisation-with-python\Data-and-Code\Data and Code\section4\Indicators.csv")
data.head()

,CountryName,CountryCode,IndicatorName,IndicatorCode,Year,Value
0,Arab World,ARB,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,1960,1.335609e+02
1,Arab World,ARB,Age dependency ratio (% of working-age populat...,SP.POP.DPND,1960,8.779760e+01
2,Arab World,ARB,"Age dependency ratio, old (% of working-age po...",SP.POP.DPND.OL,1960,6.634579e+00
3,Arab World,ARB,"Age dependency ratio, young (% of working-age ...",SP.POP.DPND.YG,1960,8.102333e+01
4,Arab World,ARB,Arms exports (SIPRI trend indicator values),MS.MIL.XPRT.KD,1960,3.000000e+06

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5656458 entries, 0 to 5656457
Data columns (total 6 columns):
CountryName      object
CountryCode      object
IndicatorName    object
IndicatorCode    object
Year             int64
Value            float64
dtypes: float64(1), int64(1), object(4)
memory usage: 258.9+ MB

In [4]:
data.describe() # stattistical summary of quantitative(other than categorical data) data

               Year         Value
count  5.656458e+06  5.656458e+06
mean   1.994464e+03  1.070501e+12
std    1.387895e+01  4.842469e+13
min    1.960000e+03 -9.824821e+15
25%    1.984000e+03  5.566242e+00
50%    1.997000e+03  6.357450e+01
75%    2.006000e+03  1.346722e+07
max    2.015000e+03  1.103367e+16

In [5]:
data.isnull().sum()

CountryName      0
CountryCode      0
IndicatorName    0
IndicatorCode    0
Year             0
Value            0
dtype: int64

In [6]:
data.isna().sum()

CountryName      0
CountryCode      0
IndicatorName    0
IndicatorCode    0
Year             0
Value            0
dtype: int64

In [7]:
data.columns #Dispaly columns

Index(['CountryName', 'CountryCode', 'IndicatorName', 'IndicatorCode', 'Year',
       'Value'],
      dtype='object')

In [8]:
list(data) #display columns

['CountryName',
 'CountryCode',
 'IndicatorName',
 'IndicatorCode',
 'Year',
 'Value']

In [9]:
data.dtypes

CountryName       object
CountryCode       object
IndicatorName     object
IndicatorCode     object
Year               int64
Value            float64
dtype: object

In [10]:
data['Year'].dtypes

dtype('int64')

In [13]:
len(data['CountryName'])

5656458

In [14]:
len(data['CountryName'].unique())

247

In [12]:
data['CountryName'].unique().tolist()

['Arab World',
 'Caribbean small states',
 'Central Europe and the Baltics',
 'East Asia & Pacific (all income levels)',
 'East Asia & Pacific (developing only)',
 'Euro area',
 'Europe & Central Asia (all income levels)',
 'Europe & Central Asia (developing only)',
 'European Union',
 'Fragile and conflict affected situations',
 'Heavily indebted poor countries (HIPC)',
 'High income',
 'High income: nonOECD',
 'High income: OECD',
 'Latin America & Caribbean (all income levels)',
 'Latin America & Caribbean (developing only)',
 'Least developed countries: UN classification',
 'Low & middle income',
 'Low income',
 'Lower middle income',
 'Middle East & North Africa (all income levels)',
 'Middle East & North Africa (developing only)',
 'Middle income',
 'North America',
 'OECD members',
 'Other small states',
 'Pacific island small states',
 'Small states',
 'South Asia',
 'Sub-Saharan Africa (all income levels)',
 'Sub-Saharan Africa (developing only)',
 'Upper middle income',
 'World',
 'Afghanistan',
 'Albania',
 'Algeria',
 'American Samoa',
 'Andorra',
 'Angola',
 'Antigua and Barbuda',
 'Argentina',
 'Armenia',
 'Aruba',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahamas, The',
 'Bahrain',
 'Bangladesh',
 'Barbados',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bermuda',
 'Bhutan',
 'Bolivia',
 'Bosnia and Herzegovina',
 'Botswana',
 'Brazil',
 'Brunei Darussalam',
 'Bulgaria',
 'Burkina Faso',
 'Burundi',
 'Cabo Verde',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Cayman Islands',
 'Central African Republic',
 'Chad',
 'Channel Islands',
 'Chile',
 'China',
 'Colombia',
 'Comoros',
 'Congo, Dem. Rep.',
 'Congo, Rep.',
 'Costa Rica',
 "Cote d'Ivoire",
 'Croatia',
 'Cuba',
 'Curacao',
 'Cyprus',
 'Czech Republic',
 'Denmark',
 'Djibouti',
 'Dominica',
 'Dominican Republic',
 'Ecuador',
 'Egypt, Arab Rep.',
 'El Salvador',
 'Equatorial Guinea',
 'Eritrea',
 'Estonia',
 'Ethiopia',
 'Faeroe Islands',
 'Fiji',
 'Finland',
 'France',
 'French Polynesia',
 'Gabon',
 'Gambia, The',
 'Georgia',
 'Germany',
 'Ghana',
 'Greece',
 'Greenland',
 'Grenada',
 'Guam',
 'Guatemala',
 'Guinea',
 'Guinea-Bissau',
 'Guyana',
 'Haiti',
 'Honduras',
 'Hong Kong SAR, China',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Iran, Islamic Rep.',
 'Iraq',
 'Ireland',
 'Isle of Man',
 'Israel',
 'Italy',
 'Jamaica',
 'Japan',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kiribati',
 'Korea, Dem. Rep.',
 'Korea, Rep.',
 'Kosovo',
 'Kuwait',
 'Kyrgyz Republic',
 'Lao PDR',
 'Latvia',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Libya',
 'Liechtenstein',
 'Lithuania',
 'Luxembourg',
 'Macao SAR, China',
 'Macedonia, FYR',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Maldives',
 'Mali',
 'Malta',
 'Marshall Islands',
 'Mauritania',
 'Mauritius',
 'Mexico',
 'Micronesia, Fed. Sts.',
 'Moldova',
 'Monaco',
 'Mongolia',
 'Montenegro',
 'Morocco',
 'Mozambique',
 'Myanmar',
 'Namibia',
 'Nepal',
 'Netherlands',
 'New Caledonia',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'Northern Mariana Islands',
 'Norway',
 'Oman',
 'Pakistan',
 'Palau',
 'Panama',
 'Papua New Guinea',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Puerto Rico',
 'Qatar',
 'Romania',
 'Russian Federation',
 'Rwanda',
 'Samoa',
 'San Marino',
 'Sao Tome and Principe',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Seychelles',
 'Sierra Leone',
 'Singapore',
 'Sint Maarten (Dutch part)',
 'Slovak Republic',
 'Slovenia',
 'Solomon Islands',
 'Somalia',
 'South Africa',
 'South Sudan',
 'Spain',
 'Sri Lanka',
 'St. Kitts and Nevis',
 'St. Lucia',
 'St. Martin (French part)',
 'St. Vincent and the Grenadines',
 'Sudan',
 'Suriname',
 'Swaziland',
 'Sweden',
 'Switzerland',
 'Syrian Arab Republic',
 'Tajikistan',
 'Tanzania',
 'Thailand',
 'Timor-Leste',
 'Togo',
 'Tonga',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkey',
 'Turkmenistan',
 'Turks and Caicos Islands',
 'Tuvalu',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom',
 'United States',
 'Uruguay',
 'Uzbekistan',
 'Vanuatu',
 'Venezuela, RB',
 'Vietnam',
 'Virgin Islands (U.S.)',
 'West Bank and Gaza',
 'Yemen, Rep.',
 'Zambia',
 'Zimbabwe']

In [15]:
from collections import Counter
c = Counter(data['CountryName'])
c

Counter({'Afghanistan': 17402,
         'Albania': 23164,
         'Algeria': 34578,
         'American Samoa': 2802,
         'Andorra': 4921,
         'Angola': 21158,
         'Antigua and Barbuda': 13851,
         'Arab World': 17115,
         'Argentina': 25955,
         'Armenia': 20992,
         'Aruba': 7607,
         'Australia': 25325,
         'Austria': 25516,
         'Azerbaijan': 21165,
         'Bahamas, The': 18165,
         'Bahrain': 17278,
         'Bangladesh': 33386,
         'Barbados': 17611,
         'Belarus': 21875,
         'Belgium': 23461,
         'Belize': 29689,
         'Benin': 32965,
         'Bermuda': 8765,
         'Bhutan': 23395,
         'Bolivia': 35307,
         'Bosnia and Herzegovina': 16514,
         'Botswana': 32039,
         'Brazil': 35550,
         'Brunei Darussalam': 16965,
         'Bulgaria': 29859,
         'Burkina Faso': 32604,
         'Burundi': 30494,
         'Cabo Verde': 22911,
         'Cambodia': 25448,
         'Cameroon': 34259,
         'Canada': 24633,
         'Caribbean small states': 17117,
         'Cayman Islands': 4006,
         'Central African Republic': 28561,
         'Central Europe and the Baltics': 16697,
         'Chad': 27768,
         'Channel Islands': 2739,
         'Chile': 27156,
         'China': 29678,
         'Colombia': 37227,
         'Comoros': 24421,
         'Congo, Dem. Rep.': 31257,
         'Congo, Rep.': 32310,
         'Costa Rica': 36457,
         "Cote d'Ivoire": 30596,
         'Croatia': 16853,
         'Cuba': 20642,
         'Curacao': 1564,
         'Cyprus': 24097,
         'Czech Republic': 19156,
         'Denmark': 25551,
         'Djibouti': 22923,
         'Dominica': 22107,
         'Dominican Republic': 34253,
         'East Asia & Pacific (all income levels)': 19564,
         'East Asia & Pacific (developing only)': 28477,
         'Ecuador': 35788,
         'Egypt, Arab Rep.': 35367,
         'El Salvador': 34739,
         'Equatorial Guinea': 14127,
         'Eritrea': 16206,
         'Estonia': 16991,
         'Ethiopia': 28134,
         'Euro area': 20843,
         'Europe & Central Asia (all income levels)': 20445,
         'Europe & Central Asia (developing only)': 26646,
         'European Union': 21557,
         'Faeroe Islands': 4691,
         'Fiji': 29309,
         'Finland': 26096,
         'Fragile and conflict affected situations': 15391,
         'France': 26371,
         'French Polynesia': 7979,
         'Gabon': 30121,
         'Gambia, The': 29864,
         'Georgia': 22522,
         'Germany': 23166,
         'Ghana': 31730,
         'Greece': 25794,
         'Greenland': 4967,
         'Grenada': 24572,
         'Guam': 4265,
         'Guatemala': 35078,
         'Guinea': 26362,
         'Guinea-Bissau': 24878,
         'Guyana': 28547,
         'Haiti': 24354,
         'Heavily indebted poor countries (HIPC)': 18375,
         'High income': 21573,
         'High income: OECD': 21421,
         'High income: nonOECD': 16984,
         'Honduras': 35171,
         'Hong Kong SAR, China': 20402,
         'Hungary': 22293,
         'Iceland': 22146,
         'India': 35721,
         'Indonesia': 36252,
         'Iran, Islamic Rep.': 32966,
         'Iraq': 16792,
         'Ireland': 24723,
         'Isle of Man': 1764,
         'Israel': 22557,
         'Italy': 26136,
         'Jamaica': 31835,
         'Japan': 25780,
         'Jordan': 34050,
         'Kazakhstan': 21219,
         'Kenya': 34621,
         'Kiribati': 12999,
         'Korea, Dem. Rep.': 7934,
         'Korea, Rep.': 28126,
         'Kosovo': 6851,
         'Kuwait': 19690,
         'Kyrgyz Republic': 21934,
         'Lao PDR': 26102,
         'Latin America & Caribbean (all income levels)': 21752,
         'Latin America & Caribbean (developing only)': 31167,
         'Latvia': 16663,
         'Least developed countries: UN classification': 17405,
         'Lebanon': 27334,
         'Lesotho': 31161,
         'Liberia': 24803,
         'Libya': 13943,
         'Liechtenstein': 4282,
         'Lithuania': 16336,
         'Low & middle income': 29278,
         'Low income': 25867,
         'Lower middle income': 30202,
         'Luxembourg': 20834,
         'Macao SAR, China': 14881,
         'Macedonia, FYR': 21238,
         'Madagascar': 32637,
         'Malawi': 30223,
         'Malaysia': 35874,
         'Maldives': 21795,
         'Mali': 31163,
         'Malta': 23199,
         'Marshall Islands': 5764,
         'Mauritania': 30080,
         'Mauritius': 32285,
         'Mexico': 37244,
         'Micronesia, Fed. Sts.': 7126,
         'Middle East & North Africa (all income levels)': 17903,
         'Middle East & North Africa (developing only)': 28545,
         'Middle income': 29253,
         'Moldova': 22550,
         'Monaco': 3881,
         'Mongolia': 23978,
         'Montenegro': 18118,
         'Morocco': 36275,
         'Mozambique': 27568,
         'Myanmar': 25584,
         'Namibia': 18518,
         'Nepal': 31134,
         'Netherlands': 26348,
         'New Caledonia': 8352,
         'New Zealand': 23052,
         'Nicaragua': 33638,
         'Niger': 29428,
         'Nigeria': 31381,
         'North America': 18790,
         'Northern Mariana Islands': 1942,
         'Norway': 25425,
         'OECD members': 21723,
         'Oman': 20699,
         'Other small states': 17010,
         'Pacific island small states': 14252,
         'Pakistan': 35768,
         'Palau': 5896,
         'Panama': 33984,
         'Papua New Guinea': 28711,
         'Paraguay': 31423,
         'Peru': 36815,
         'Philippines': 36912,
         'Poland': 21177,
         'Portugal': 25136,
         'Puerto Rico': 12687,
         'Qatar': 16200,
         'Romania': 30014,
         'Russian Federation': 17164,
         'Rwanda': 31770,
         'Samoa': 21696,
         'San Marino': 5020,
         'Sao Tome and Principe': 19117,
         'Saudi Arabia': 18456,
         'Senegal': 33990,
         'Serbia': 20877,
         'Seychelles': 17501,
         'Sierra Leone': 29150,
         'Singapore': 22600,
         'Sint Maarten (Dutch part)': 681,
         'Slovak Republic': 17250,
         'Slovenia': 17161,
         'Small states': 16656,
         'Solomon Islands': 21355,
         'Somalia': 20764,
         'South Africa': 30496,
         'South Asia': 30913,
         'South Sudan': 3667,
         'Spain': 25949,
         'Sri Lanka': 33369,
         'St. Kitts and Nevis': 13712,
         'St. Lucia': 23749,
         'St. Martin (French part)': 572,
         'St. Vincent and the Grenadines': 25541,
         'Sub-Saharan Africa (all income levels)': 19167,
         'Sub-Saharan Africa (developing only)': 28547,
         'Sudan': 31175,
         'Suriname': 17758,
         'Swaziland': 29279,
         'Sweden': 26503,
         'Switzerland': 23344,
         'Syrian Arab Republic': 31106,
         'Tajikistan': 19874,
         'Tanzania': 29778,
         'Thailand': 36355,
         'Timor-Leste': 9461,
         'Togo': 33221,
         'Tonga': 21379,
         'Trinidad and Tobago': 24086,
         'Tunisia': 35302,
         'Turkey': 35819,
         'Turkmenistan': 14011,
         'Turks and Caicos Islands': 2840,
         'Tuvalu': 5683,
         'Uganda': 31412,
         'Ukraine': 22547,
         'United Arab Emirates': 15379,
         'United Kingdom': 25293,
         'United States': 24425,
         'Upper middle income': 28923,
         'Uruguay': 26508,
         'Uzbekistan': 17406,
         'Vanuatu': 22249,
         'Venezuela, RB': 26488,
         'Vietnam': 25552,
         'Virgin Islands (U.S.)': 4302,
         'West Bank and Gaza': 11735,
         'World': 20566,
         'Yemen, Rep.': 23745,
         'Zambia': 32930,
         'Zimbabwe': 29310})

In [16]:
# Data handling by conditional statements

In [17]:
data1 = pd.read_csv(r"D:\Personal\Udemy-Training\complete-data-wrangling-data-visualisation-with-python\Data-and-Code\Data and Code\section4\endangeredLang.csv")
data1.head()

,ID,Name in English,Countries,Country codes alpha 3,Degree of endangerment,Number of speakers,Latitude,Longitude,Description of the location
0,1022,South Italian,Italy,ITA,Vulnerable,7500000.0,40.9798,15.2490,"Campania, Lucania (Basilicata), Abruzzi (Abruz..."
1,1023,Sicilian,Italy,ITA,Vulnerable,5000000.0,37.4399,14.5019,"Sicily (Sicilia), southern and central Calabri..."
2,383,Low Saxon,"Germany, Denmark, Netherlands, Poland, Russian...","DEU, DNK, NLD, POL, RUS",Vulnerable,4800000.0,53.4029,10.3601,"northern Germany, the north-eastern part of th..."
3,335,Belarusian,"Belarus, Latvia, Lithuania, Poland, Russian Fe...","BRB, LVA, LTU, POL, RUS, UKR",Vulnerable,4000000.0,53.9560,27.5756,Belarus except the Polesian-speaking south-wes...
4,382,Lombard,"Italy, Switzerland","ITA, CHE",Definitely endangered,3500000.0,45.7215,9.3273,the region of Lombardy (except the southernmos...

In [18]:
data1.Countries

0                                                   Italy
1                                                   Italy
2       Germany, Denmark, Netherlands, Poland, Russian...
3       Belarus, Latvia, Lithuania, Poland, Russian Fe...
4                                      Italy, Switzerland
5       Albania, Germany, Austria, Belarus, Bosnia and...
6                                                  Israel
7                                                   India
8                           Germany, Belgium, Netherlands
9                        Bolivia (Plurinational State of)
10                                           India, Nepal
11          Bolivia (Plurinational State of), Chile, Peru
12                                      Italy, San Marino
13                                                  Italy
14                               Croatia, Italy, Slovenia
15                                                 Turkey
16                                                  India
17                                                  Niger
18                                                  India
19                                                  India
20      United Kingdom of Great Britain and Northern I...
21      Albania, Bulgaria, The former Yugoslav Republi...
22                           Belgium, France, Netherlands
23                                     Russian Federation
24                                     Russian Federation
25                                     Russian Federation
26                                                  India
27                                           India, Nepal
28                                                   Peru
29                                      Slovakia, Ukraine
                              ...
2692                                              Algeria
2693                                           Azerbaijan
2694                           Iran (Islamic Republic of)
2695                                             Colombia
2696                                   Russian Federation
2697                                             Cambodia
2698                                             Paraguay
2699                                                India
2700                                              Algeria
2701                                             Colombia
2702                                               Israel
2703                                               Canada
2704                                             Colombia
2705                                              Georgia
2706                             United States of America
2707                                               Canada
2708                 Georgia, Russian Federation, Ukraine
2709                                              Myanmar
2710                                             Colombia
2711                                               Canada
2712                             United States of America
2713          Argentina, Bolivia (Plurinational State of)
2714                                                Japan
2715                                   Russian Federation
2716    Germany, Austria, Belarus, Belgium, Denmark, E...
2717                                                Japan
2718                                             Colombia
2719                                             Colombia
2720                                      India, Pakistan
2721                                                 Oman
Name: Countries, Length: 2722, dtype: object

In [22]:
data1[['Countries','Name in English']]

,Countries,Name in English
0,Italy,South Italian
1,Italy,Sicilian
2,"Germany, Denmark, Netherlands, Poland, Russian...",Low Saxon
3,"Belarus, Latvia, Lithuania, Poland, Russian Fe...",Belarusian
4,"Italy, Switzerland",Lombard
5,"Albania, Germany, Austria, Belarus, Bosnia and...",Romani
6,Israel,Yiddish (Israel)
7,India,Gondi
8,"Germany, Belgium, Netherlands",Limburgian-Ripuarian
9,Bolivia (Plurinational State of),Quechua of Southern Bolivia
10,"India, Nepal",Kumaoni
11,"Bolivia (Plurinational State of), Chile, Peru",Aymara
12,"Italy, San Marino",Emilian-Romagnol
13,Italy,Piedmontese
14,"Croatia, Italy, Slovenia",Venetan
15,Turkey,Zazaki
16,India,Kurux (India)
17,Niger,Tamajeq
18,India,Tulu
19,India,Kangdi
20,United Kingdom of Great Britain and Northern I...,Scots
21,"Albania, Bulgaria, The former Yugoslav Republi...",Torlak
22,"Belgium, France, Netherlands",West Flemish
23,Russian Federation,Bashkir
24,Russian Federation,Chechen
25,Russian Federation,Chuvash
26,India,Meithei
27,"India, Nepal",Tamang
28,Peru,Quechua of Cuzco
29,"Slovakia, Ukraine",Eastern Slovak
...,...,...
2692,Algeria,Tasnusit
2693,Azerbaijan,Tat
2694,Iran (Islamic Republic of),Tati
2695,Colombia,Tatuyo
2696,Russian Federation,Tazy
2697,Cambodia,Tempuan
2698,Paraguay,Toba-Maskoy
2699,India,Tolcha
2700,Algeria,Touggourt Tamazight
2701,Colombia,Tucano (Colombia)
2702,Israel,Tunisian Judeo-Arabic (Israel)
2703,Canada,Tuscarora (Canada)
2704,Colombia,Tuyuca (Colombia)
2705,Georgia,Udi (Georgia)
2706,United States of America,Unami
2707,Canada,Upper Tanana (Canada)
2708,"Georgia, Russian Federation, Ukraine",Urum
2709,Myanmar,Wa
2710,Colombia,Wanano / Kotiria (Colombia)
2711,Canada,Western Abenaki (Canada)
2712,United States of America,Western Abenaki (United States of America)
2713,"Argentina, Bolivia (Plurinational State of)",Wichi
2714,Japan,Yaeyama
2715,Russian Federation,Yazva Komi
2716,"Germany, Austria, Belarus, Belgium, Denmark, E...",Yiddish (Europe)
2717,Japan,Yonaguni
2718,Colombia,Yucuna
2719,Colombia,Yurut√≠ (Colombia)
2720,"India, Pakistan",Zangskari
2721,Oman,Zidgali

In [25]:
data1.shape
#data1[3:10,1:3]

(2722, 9)

In [26]:
data1.iloc[3:10,1:3]

,Name in English,Countries
3,Belarusian,"Belarus, Latvia, Lithuania, Poland, Russian Fe..."
4,Lombard,"Italy, Switzerland"
5,Romani,"Albania, Germany, Austria, Belarus, Bosnia and..."
6,Yiddish (Israel),Israel
7,Gondi,India
8,Limburgian-Ripuarian,"Germany, Belgium, Netherlands"
9,Quechua of Southern Bolivia,Bolivia (Plurinational State of)

In [27]:
data1.columns

Index(['ID', 'Name in English', 'Countries', 'Country codes alpha 3',
       'Degree of endangerment', 'Number of speakers', 'Latitude', 'Longitude',
       'Description of the location'],
      dtype='object')

In [34]:
data1[data1['Number of speakers'] >40000]

,ID,Name in English,Countries,Country codes alpha 3,Degree of endangerment,Number of speakers,Latitude,Longitude,Description of the location
0,1022,South Italian,Italy,ITA,Vulnerable,7500000.0,40.9798,15.2490,"Campania, Lucania (Basilicata), Abruzzi (Abruz..."
1,1023,Sicilian,Italy,ITA,Vulnerable,5000000.0,37.4399,14.5019,"Sicily (Sicilia), southern and central Calabri..."
2,383,Low Saxon,"Germany, Denmark, Netherlands, Poland, Russian...","DEU, DNK, NLD, POL, RUS",Vulnerable,4800000.0,53.4029,10.3601,"northern Germany, the north-eastern part of th..."
3,335,Belarusian,"Belarus, Latvia, Lithuania, Poland, Russian Fe...","BRB, LVA, LTU, POL, RUS, UKR",Vulnerable,4000000.0,53.9560,27.5756,Belarus except the Polesian-speaking south-wes...
4,382,Lombard,"Italy, Switzerland","ITA, CHE",Definitely endangered,3500000.0,45.7215,9.3273,the region of Lombardy (except the southernmos...
5,405,Romani,"Albania, Germany, Austria, Belarus, Bosnia and...","ALB, DEU, AUT, BRB, BIH, BGR, HRV, EST, FIN, F...",Definitely endangered,3500000.0,46.3165,22.3681,"many European countries, most densely in East-..."
6,2211,Yiddish (Israel),Israel,ISR,Definitely endangered,3000000.0,32.0833,34.8333,"most speakers now live outside Europe, mainly ..."
7,1586,Gondi,India,IND,Vulnerable,2713790.0,19.5804,80.4418,"Madhya Pradesh (Betul, Chhindwara, Seoni, Mand..."
8,1020,Limburgian-Ripuarian,"Germany, Belgium, Netherlands","DEU, BEL, NLD",Vulnerable,2600000.0,50.7781,6.0864,Limburg provinces in Belgium and the Netherlan...
9,1943,Quechua of Southern Bolivia,Bolivia (Plurinational State of),BOL,Vulnerable,2300000.0,-18.0675,-65.7641,"Departments of Cochabamba, Chuquisaca, Potos√≠ ..."
10,1565,Kumaoni,"India, Nepal","IND, NPL",Vulnerable,2003783.0,29.4778,79.8486,"Uttarakhand, also in Uttar Pradesh, Madhya Pra..."
11,755,Aymara,"Bolivia (Plurinational State of), Chile, Peru","BOL, CHL, PER",Vulnerable,2000000.0,-16.5835,-68.3020,"Departamentos de Puno, Moquegua y Tacna, en ..."
12,349,Emilian-Romagnol,"Italy, San Marino","ITA, SMR",Definitely endangered,2000000.0,44.1270,12.0739,"the region of Emilia-Romagna, parts of the pro..."
13,399,Piedmontese,Italy,ITA,Definitely endangered,2000000.0,45.2013,7.8662,"Piedmont Region except the Novara Province, th..."
14,1021,Venetan,"Croatia, Italy, Slovenia","HRV, ITA, SVN",Vulnerable,2000000.0,45.4601,12.1948,"Veneto region, parts of Friuli-Venezia Giulia,..."
15,1985,Zazaki,Turkey,TUR,Vulnerable,2000000.0,38.8824,40.4846,"Tunceli, Erzincan, Elazƒ±ƒü and Bing√∂l provinces..."
16,1591,Kurux (India),India,IND,Vulnerable,1751489.0,22.1467,85.2758,Jharkhand and Bihar
17,2065,Tamajeq,Niger,NER,Vulnerable,1750000.0,17.2352,8.0859,NaN
18,1585,Tulu,India,IND,Vulnerable,1722768.0,12.0178,75.7067,"Karnataka, Andhra Pradesh, Kerala"
19,1556,Kangdi,India,IND,Definitely endangered,1700000.0,32.4356,76.1242,Himachal Pradesh
20,410,Scots,United Kingdom of Great Britain and Northern I...,GBR,Vulnerable,1500000.0,56.2189,-3.7683,Lowland Scotland and adjacent parts of England...
21,1026,Torlak,"Albania, Bulgaria, The former Yugoslav Republi...","ALB, BGR, MKD, ROU, SRB",Vulnerable,1500000.0,42.9644,22.1374,"the core area: south-eastern Serbia, the weste..."
22,1476,West Flemish,"Belgium, France, Netherlands","BEL, FRA, NLD",Vulnerable,1500000.0,51.0275,3.0541,"the province of Zealand, the Netherlands; West..."
23,334,Bashkir,Russian Federation,RUS,Vulnerable,1379727.0,54.7309,55.9863,the Republic of Bashkortostan and adjacent reg...
24,1067,Chechen,Russian Federation,RUS,Vulnerable,1331844.0,43.1971,45.7031,the Republic of Chechenia and adjacent regions
25,338,Chuvash,Russian Federation,RUS,Vulnerable,1325382.0,56.1394,47.2412,Chuvash Republic and adjacent regions
26,1227,Meithei,India,IND,Vulnerable,1250000.0,24.7667,93.8946,"Manipur (throughout, but concentrated in the M..."
27,1114,Tamang,"India, Nepal","IND, NPL",Vulnerable,1196639.0,27.7365,85.6858,Dispersed throughout central and eastern hills...
28,1013,Quechua of Cuzco,Peru,PER,Vulnerable,1115000.0,-13.4537,-72.0098,"Cuzco, partes de Arequipa, Puno, Apur√≠mac (Ab..."
29,1024,Eastern Slovak,"Slovakia, Ukraine","SVK, UKR",Vulnerable,1000000.0,48.8068,21.7968,"Spi≈°, ≈†ari≈°, Zempl√≠n and Abov regions in easte..."
...,...,...,...,...,...,...,...,...,...
240,1159,Paite,India,IND,Vulnerable,50000.0,24.1968,93.3563,"Assam, Cachar Dt.; Manipur, Churachandpur Dt.;..."
241,1929,Quichua (Imbabura),Ecuador,ECU,Definitely endangered,50000.0,0.1757,-78.2006,"Northern Highlands, Imbabura Province: towns o..."
242,1949,Soqotri,Yemen,YEM,Severely endangered,50000.0,12.5331,53.7670,"Spoken only in Yemen, on the islands of Soqotr..."
243,462,Southern Altay,Russian Federation,RUS,Definitely endangered,50000.0,51.0690,86.5942,the Republic of Altay in the Russian Federatio...
244,1475,Transylvanian Saxon,Romania,ROU,Severely endangered,50000.0,46.2140,24.2413,Bistri≈£a (Bistritz) and Sibiu (Hermannstadt) r...
245,1986,Turoyo,"Syrian Arab Republic, Turkey","SYR, TUR",Severely endangered,50000.0,37.4050,41.3745,Traditionally spoken around the town of Midiad...
246,422,V√µro-Seto,"Estonia, Russian Federation","EST, RUS",Definitely endangered,50000.0,57.8096,27.2900,the southeastern corner of Estonia; Pechory Co...
247,687,West Greenlandic,Greenland (Kingdom of Denmark),GRL,Vulnerable,50000.0,64.1681,-51.7236,the west coast of Greenland
248,1494,Western Armenian (Turkey),Turkey,TUR,Definitely endangered,50000.0,41.0213,28.9324,Istanbul; the village of Vakƒ±flƒ± K√∂y√º in the S...
249,122,Zaramo,United Republic of Tanzania,TZA,Definitely endangered,50000.0,-6.9220,39.2409,NaN
250,2180,Zenatiya,Algeria,DZA,Critically endangered,50000.0,35.5702,1.8099,The Ouarsenis region including the the Tissems...
251,915,Papantla Totonac,Mexico,MEX,Definitely endangered,49748.0,20.4477,-97.3200,"Cazones, Coatzintla, Espinal, Papantla, Tecolu..."
252,1108,Wancho,India,IND,Vulnerable,49000.0,26.9759,95.4656,"Arunachal Pradesh, Changlang Dt."
253,1213,Bhumji,India,IND,Vulnerable,47000.0,21.8003,86.8139,"scattered over Bihar, Orissa, Jharkhand and Ch..."
254,2241,Cosung (China),China,CHN,Definitely endangered,47000.0,22.6833,102.6666,NaN
255,2240,Cosung (Viet Nam),Viet Nam,VNM,Definitely endangered,47000.0,22.6166,102.7500,NaN
256,2249,Baheng (China),China,CHN,Vulnerable,45000.0,26.1900,110.2400,NaN
257,60,Lumun,Sudan,SDN,Definitely endangered,45000.0,10.8387,30.0338,"Talodi, Moro Hills; villages Toromathan, To'ri..."
258,1931,Quichua (Loja),Ecuador,ECU,Severely endangered,45000.0,-3.6236,-79.2388,"Southern Ecuadorian Highlands, Province of Loja"
259,1025,Chamling,Nepal,NPL,Definitely endangered,44093.0,27.0499,86.7329,Kho·π≠ƒÅ·πÖ and Udaypur districts. South of the D≈´d...
260,362,Irish,"Ireland, United Kingdom of Great Britain and N...","IRL, GBR",Definitely endangered,44000.0,53.7876,-9.1845,"four principal areas in the west, two in Doneg..."
261,1329,Reshe,Nigeria,NGA,Vulnerable,44000.0,10.8791,4.6115,NaN
262,927,Sierra Otom√≠,Mexico,MEX,Vulnerable,43468.0,20.1021,-97.6220,"Huehuetla, Tenango de Doria (state of Hidalgo)..."
263,134,Phuthi,Lesotho,LSO,Definitely endangered,43000.0,-29.3791,28.2838,NaN
264,704,Rarotongan,Cook Islands,COK,Vulnerable,43000.0,-21.2343,-159.7837,"16800 in Cook Islands, remainder mainly in New..."
265,1804,Khalaj,Iran (Islamic Republic of),IRN,Vulnerable,42100.0,34.3751,50.3063,"Northeast of Arak in Central Province, Iran"
266,1670,Dungan,"Kazakhstan, Kyrgyzstan","KAZ, KGZ",Definitely endangered,41000.0,42.4518,78.4643,"Prschewalsk and Osh cities, Kyrgyzstan; Shaanh..."
267,1143,Kheza,India,IND,Vulnerable,41000.0,25.6811,94.3670,Kohima and Phek districts
268,1304,Jola-Kassa,Senegal,SEN,Vulnerable,40850.0,13.1089,-15.8999,NaN
269,1447,SatƒÅr,Nepal,NPL,Vulnerable,40260.0,26.5541,87.9180,Mora·πÖ and JhƒÅpƒÅ districts

In [35]:
#dropcColumn/ Row

In [38]:
data1[data1['Countries']=='India']

,ID,Name in English,Countries,Country codes alpha 3,Degree of endangerment,Number of speakers,Latitude,Longitude,Description of the location
7,1586,Gondi,India,IND,Vulnerable,2713790.0,19.5804,80.4418,"Madhya Pradesh (Betul, Chhindwara, Seoni, Mand..."
16,1591,Kurux (India),India,IND,Vulnerable,1751489.0,22.1467,85.2758,Jharkhand and Bihar
18,1585,Tulu,India,IND,Vulnerable,1722768.0,12.0178,75.7067,"Karnataka, Andhra Pradesh, Kerala"
19,1556,Kangdi,India,IND,Definitely endangered,1700000.0,32.4356,76.1242,Himachal Pradesh
26,1227,Meithei,India,IND,Vulnerable,1250000.0,24.7667,93.8946,"Manipur (throughout, but concentrated in the M..."
33,1577,Kui,India,IND,Vulnerable,916222.0,19.5908,83.9575,"Orissa (Phulbani, Koraput, Ganjam); also in An..."
34,1231,Khasi,India,IND,Vulnerable,912000.0,25.6910,91.8676,eastern half of Meghalaya
35,1229,Bodo,India,IND,Vulnerable,900000.0,26.7554,92.8674,"north bank of the Brahmaputra, Sonitpur and Da..."
44,1211,Mundari,India,IND,Vulnerable,750000.0,22.3297,86.0449,"Jharkhand, mainly in Ranchi Dt.; some speaker..."
52,1559,Mandeali,India,IND,Definitely endangered,611930.0,31.4099,76.9921,Himachal Pradesh
56,1091,Mising,India,IND,Definitely endangered,550000.0,26.9612,94.0539,"Assam, mostly Lakhimpur, Sonitpur and Dhemaji ..."
58,1230,Mizo,India,IND,Vulnerable,529000.0,22.9988,92.9223,"throughout Mizoram; Manipur, Churachandpur Dt...."
64,1558,Mahasui,India,IND,Definitely endangered,496024.0,31.2738,77.1295,Himachal Pradesh
72,1165,Karbi,India,IND,Vulnerable,420000.0,26.2934,93.2299,"Assam, Karbi Anglong, Kamrup and Nowgong distr..."
76,1212,Ho,India,IND,Vulnerable,400000.0,21.6370,86.4404,"Jharkhand, Singhbhum Dt.; Orissa, Mayurbhanj a..."
93,1574,Kurru,India,IND,Definitely endangered,300000.0,16.6151,81.6284,"Tamil Nadu, Andhra Pradesh and Karnataka"
94,1578,Kuvi,India,IND,Definitely endangered,300000.0,18.9478,83.5839,"Orissa (Koraput, Kalahandi, Ganjam, and Phulba..."
102,1563,Garhwali,India,IND,Vulnerable,279500.0,30.0976,79.1235,"Uttarakhand, in Garhwal area"
107,1205,Sora,India,IND,Vulnerable,250000.0,19.1244,83.2104,"Orissa, mainly Ganjam Dt., but also Koraput an..."
108,1119,Konyak,India,IND,Vulnerable,248000.0,26.9367,95.1745,"Nagaland, Mon and Tuensang districts."
109,1130,Ao,India,IND,Vulnerable,243000.0,26.4361,94.6472,Wokho and parts of Mokokchung districts
113,1592,Malto,India,IND,Definitely endangered,224926.0,23.7853,85.4736,"Jharkhand (Godda, Santhal Pargana), Bihar and ..."
120,1570,Irula,India,IND,Vulnerable,200000.0,11.4369,76.5032,"Tamil Nadu, Kerala, Karnataka and Andhra Pradesh"
121,1204,Kharia,India,IND,Vulnerable,200000.0,21.8003,85.4956,"Jharkhand, Ranchi, West Singhbhum, and East Si..."
123,1210,Korku,India,IND,Vulnerable,200000.0,20.3034,80.2441,"Madhya Pradesh, Betul, Hoshangabad and East Ni..."
128,1161,Thado,India,IND,Vulnerable,191000.0,24.4521,93.2354,"Manipur, Chandel Dt; Nagaland, Kohima District..."
130,1557,Kului,India,IND,Definitely endangered,170770.0,31.4403,77.1487,"Himachal Pradesh, Kulli district"
132,1132,Lhota,India,IND,Vulnerable,170000.0,26.1603,94.3725,"Nagaland, Wokha Dt."
133,977,Nyishi,India,IND,Vulnerable,170000.0,27.5277,93.0981,"Arunachal Pradesh, Papum Pare, Lower Subansiri..."
135,1582,Kodagu,India,IND,Definitely endangered,166187.0,11.6952,75.9375,Karnataka
...,...,...,...,...,...,...,...,...,...
1204,987,Pasi,India,IND,Definitely endangered,1000.0,28.1834,95.2651,"Arunachal Pradesh, East Siang Dt., mostly in a..."
1216,448,Toto,India,IND,Critically endangered,1000.0,26.6867,89.5056,"West Bengal, mostly in town of Totopara, in Ja..."
1249,562,Tarao,India,IND,Critically endangered,870.0,24.2970,93.4497,NaN
1368,550,Purum,India,IND,Critically endangered,503.0,24.3521,93.5925,NaN
1472,1200,Lamongse,India,IND,Critically endangered,400.0,7.3134,93.6968,"on the islands of Little Nicobar (Pangang, Ong..."
1525,1690,Aka,India,IND,Critically endangered,300.0,11.0112,34.2333,NaN
1727,1555,Handuri,India,IND,Critically endangered,138.0,31.0011,77.3107,Himachal Pradesh
1790,1176,Ruga,India,IND,Critically endangered,100.0,25.2844,90.4614,NaN
1797,1199,Shompen,India,IND,Critically endangered,100.0,7.0245,93.8232,living inside forests on Great Nicobar Island
1799,1223,Tai Nora,India,IND,Critically endangered,100.0,26.8485,94.5648,NaN
1800,1224,Tai Rong,India,IND,Critically endangered,100.0,26.9024,94.7570,"Assam, around Jorhat in Sibsagar Dt."
1801,1220,Tangam,India,IND,Critically endangered,100.0,29.1473,94.5538,"Arunachal Pradesh, West Siang Dt.; on upper Si..."
1912,2455,Onge,India,IND,Critically endangered,50.0,10.6390,92.4938,NaN
1922,1363,Sentilese,India,IND,Critically endangered,50.0,11.5446,92.2576,"Andaman Islands, North Sentinel Island"
1957,1364,Jarawa,India,IND,Critically endangered,31.0,12.6028,92.7520,South Andaman Island
2172,2722,Great andamanese,India,IND,Critically endangered,5.0,12.2326,92.9031,Middle and North Adaman
2284,429,Ahom,India,IND,Extinct,0.0,26.5393,92.5378,NaN
2291,513,Andro,India,IND,Extinct,0.0,24.8415,94.0539,NaN
2323,519,Chairel,India,IND,Extinct,0.0,24.9760,94.2407,NaN
2477,443,Rangkas,India,IND,Extinct,0.0,30.0358,80.1342,NaN
2481,558,Sengmai,India,IND,Extinct,0.0,24.6445,94.0567,NaN
2539,1177,A'tong,India,IND,Severely endangered,NaN,25.2844,91.1755,NaN
2553,1581,Bellari,India,IND,Critically endangered,NaN,11.6952,76.4648,Karnataka
2555,1607,Bhalesi,India,IND,Definitely endangered,NaN,33.3947,76.1352,Jammu and Kashmir
2605,1608,Khasali,India,IND,Definitely endangered,NaN,32.0267,77.8930,"Uttarakhand, and Jammu and Kashmir. Very appro..."
2607,2723,Koro,India,IND,Definitely endangered,NaN,27.1667,92.6312,Several villages in East Kameng District of th...
2614,537,Langrong,India,IND,Critically endangered,NaN,24.4671,94.1473,NaN
2622,1579,Manda,India,IND,Critically endangered,NaN,20.1384,84.0289,Orissa (mainly Kalahandi)
2653,1566,Padri,India,IND,Vulnerable,NaN,33.8886,76.3000,Jammu and Kashmir
2699,447,Tolcha,India,IND,Extinct,NaN,29.9333,80.0326,NaN

In [39]:
type(data1)

pandas.core.frame.DataFrame

In [44]:
data1.drop(data1.iloc[:,:1],axis=1)

,Name in English,Countries,Country codes alpha 3,Degree of endangerment,Number of speakers,Latitude,Longitude,Description of the location
0,South Italian,Italy,ITA,Vulnerable,7500000.0,40.9798,15.2490,"Campania, Lucania (Basilicata), Abruzzi (Abruz..."
1,Sicilian,Italy,ITA,Vulnerable,5000000.0,37.4399,14.5019,"Sicily (Sicilia), southern and central Calabri..."
2,Low Saxon,"Germany, Denmark, Netherlands, Poland, Russian...","DEU, DNK, NLD, POL, RUS",Vulnerable,4800000.0,53.4029,10.3601,"northern Germany, the north-eastern part of th..."
3,Belarusian,"Belarus, Latvia, Lithuania, Poland, Russian Fe...","BRB, LVA, LTU, POL, RUS, UKR",Vulnerable,4000000.0,53.9560,27.5756,Belarus except the Polesian-speaking south-wes...
4,Lombard,"Italy, Switzerland","ITA, CHE",Definitely endangered,3500000.0,45.7215,9.3273,the region of Lombardy (except the southernmos...
5,Romani,"Albania, Germany, Austria, Belarus, Bosnia and...","ALB, DEU, AUT, BRB, BIH, BGR, HRV, EST, FIN, F...",Definitely endangered,3500000.0,46.3165,22.3681,"many European countries, most densely in East-..."
6,Yiddish (Israel),Israel,ISR,Definitely endangered,3000000.0,32.0833,34.8333,"most speakers now live outside Europe, mainly ..."
7,Gondi,India,IND,Vulnerable,2713790.0,19.5804,80.4418,"Madhya Pradesh (Betul, Chhindwara, Seoni, Mand..."
8,Limburgian-Ripuarian,"Germany, Belgium, Netherlands","DEU, BEL, NLD",Vulnerable,2600000.0,50.7781,6.0864,Limburg provinces in Belgium and the Netherlan...
9,Quechua of Southern Bolivia,Bolivia (Plurinational State of),BOL,Vulnerable,2300000.0,-18.0675,-65.7641,"Departments of Cochabamba, Chuquisaca, Potos√≠ ..."
10,Kumaoni,"India, Nepal","IND, NPL",Vulnerable,2003783.0,29.4778,79.8486,"Uttarakhand, also in Uttar Pradesh, Madhya Pra..."
11,Aymara,"Bolivia (Plurinational State of), Chile, Peru","BOL, CHL, PER",Vulnerable,2000000.0,-16.5835,-68.3020,"Departamentos de Puno, Moquegua y Tacna, en ..."
12,Emilian-Romagnol,"Italy, San Marino","ITA, SMR",Definitely endangered,2000000.0,44.1270,12.0739,"the region of Emilia-Romagna, parts of the pro..."
13,Piedmontese,Italy,ITA,Definitely endangered,2000000.0,45.2013,7.8662,"Piedmont Region except the Novara Province, th..."
14,Venetan,"Croatia, Italy, Slovenia","HRV, ITA, SVN",Vulnerable,2000000.0,45.4601,12.1948,"Veneto region, parts of Friuli-Venezia Giulia,..."
15,Zazaki,Turkey,TUR,Vulnerable,2000000.0,38.8824,40.4846,"Tunceli, Erzincan, Elazƒ±ƒü and Bing√∂l provinces..."
16,Kurux (India),India,IND,Vulnerable,1751489.0,22.1467,85.2758,Jharkhand and Bihar
17,Tamajeq,Niger,NER,Vulnerable,1750000.0,17.2352,8.0859,NaN
18,Tulu,India,IND,Vulnerable,1722768.0,12.0178,75.7067,"Karnataka, Andhra Pradesh, Kerala"
19,Kangdi,India,IND,Definitely endangered,1700000.0,32.4356,76.1242,Himachal Pradesh
20,Scots,United Kingdom of Great Britain and Northern I...,GBR,Vulnerable,1500000.0,56.2189,-3.7683,Lowland Scotland and adjacent parts of England...
21,Torlak,"Albania, Bulgaria, The former Yugoslav Republi...","ALB, BGR, MKD, ROU, SRB",Vulnerable,1500000.0,42.9644,22.1374,"the core area: south-eastern Serbia, the weste..."
22,West Flemish,"Belgium, France, Netherlands","BEL, FRA, NLD",Vulnerable,1500000.0,51.0275,3.0541,"the province of Zealand, the Netherlands; West..."
23,Bashkir,Russian Federation,RUS,Vulnerable,1379727.0,54.7309,55.9863,the Republic of Bashkortostan and adjacent reg...
24,Chechen,Russian Federation,RUS,Vulnerable,1331844.0,43.1971,45.7031,the Republic of Chechenia and adjacent regions
25,Chuvash,Russian Federation,RUS,Vulnerable,1325382.0,56.1394,47.2412,Chuvash Republic and adjacent regions
26,Meithei,India,IND,Vulnerable,1250000.0,24.7667,93.8946,"Manipur (throughout, but concentrated in the M..."
27,Tamang,"India, Nepal","IND, NPL",Vulnerable,1196639.0,27.7365,85.6858,Dispersed throughout central and eastern hills...
28,Quechua of Cuzco,Peru,PER,Vulnerable,1115000.0,-13.4537,-72.0098,"Cuzco, partes de Arequipa, Puno, Apur√≠mac (Ab..."
29,Eastern Slovak,"Slovakia, Ukraine","SVK, UKR",Vulnerable,1000000.0,48.8068,21.7968,"Spi≈°, ≈†ari≈°, Zempl√≠n and Abov regions in easte..."
...,...,...,...,...,...,...,...,...
2692,Tasnusit,Algeria,DZA,Severely endangered,NaN,34.6230,-1.5614,The Beni Snous region in the Wilaya (privince ...
2693,Tat,Azerbaijan,AZE,Severely endangered,NaN,41.3438,48.6254,"Syazan, Divichinsk, Kuba, Konakhkend, Semakh a..."
2694,Tati,Iran (Islamic Republic of),IRN,Definitely endangered,NaN,38.2036,48.2519,Iranian Azerbaijan
2695,Tatuyo,Colombia,COL,Definitely endangered,NaN,0.4174,-70.4882,NaN
2696,Tazy,Russian Federation,RUS,Severely endangered,NaN,43.9236,134.7967,the village of Mikhaylovka [–ú–∏—Ö–∞–π–ª–æ–≤–∫–∞] in Ol‚Äô...
2697,Tempuan,Cambodia,KHM,Severely endangered,NaN,13.7238,107.2038,NaN
2698,Toba-Maskoy,Paraguay,PRY,Severely endangered,NaN,-21.5578,-58.0064,NaN
2699,Tolcha,India,IND,Extinct,NaN,29.9333,80.0326,NaN
2700,Touggourt Tamazight,Algeria,DZA,Severely endangered,NaN,33.0777,6.0671,"Touggourt, Temacine, Meggarine, Ghora, Tamella..."
2701,Tucano (Colombia),Colombia,COL,Vulnerable,NaN,0.6921,-69.8291,NaN
2702,Tunisian Judeo-Arabic (Israel),Israel,ISR,Severely endangered,NaN,32.0779,34.8019,NaN
2703,Tuscarora (Canada),Canada,CAN,Critically endangered,NaN,43.0720,-80.0150,Spread over 2 communities in Canada
2704,Tuyuca (Colombia),Colombia,COL,Definitely endangered,NaN,0.3515,-70.2026,NaN
2705,Udi (Georgia),Georgia,GEO,Severely endangered,NaN,41.8905,45.9130,since the 1920s the village of Okt‚Äôomber (form...
2706,Unami,United States of America,USA,Extinct,NaN,39.1300,-76.0253,NaN
2707,Upper Tanana (Canada),Canada,CAN,Critically endangered,NaN,62.3824,-140.8984,Spread over 1 communities in Canada
2708,Urum,"Georgia, Russian Federation, Ukraine","GEO, RUS, UKR",Definitely endangered,NaN,47.0102,36.7822,"originally the south of the Crimea, now a few ..."
2709,Wa,Myanmar,MMR,Severely endangered,NaN,21.8705,99.6519,NaN
2710,Wanano / Kotiria (Colombia),Colombia,COL,Definitely endangered,NaN,1.0106,-69.6423,NaN
2711,Western Abenaki (Canada),Canada,CAN,Critically endangered,NaN,46.0785,-72.8141,Spread over 2 communities in Canada
2712,Western Abenaki (United States of America),United States of America,USA,Extinct,NaN,43.0046,-72.2460,NaN
2713,Wichi,"Argentina, Bolivia (Plurinational State of)","ARG, BOL",Vulnerable,NaN,-22.0041,-63.4130,NaN
2714,Yaeyama,Japan,JPN,Severely endangered,NaN,24.3420,124.1537,islands of the Yaeyama region
2715,Yazva Komi,Russian Federation,RUS,Severely endangered,NaN,60.0348,57.5360,the Yaz‚Äôva Valley in Krasnovishera County in n...
2716,Yiddish (Europe),"Germany, Austria, Belarus, Belgium, Denmark, E...","DEU, AUT, BRB, BEL, DNK, EST, FIN, FRA, HUN, I...",Definitely endangered,NaN,53.3571,25.2465,earlier spoken in large areas mainly in Easter...
2717,Yonaguni,Japan,JPN,Severely endangered,NaN,24.4580,122.9802,Yonaguni Island
2718,Yucuna,Colombia,COL,Definitely endangered,NaN,-1.2633,-70.6640,NaN
2719,Yurut√≠ (Colombia),Colombia,COL,Definitely endangered,NaN,1.1370,-70.2136,NaN
2720,Zangskari,"India, Pakistan","IND, PAK",Definitely endangered,NaN,34.0833,76.8500,NaN
2721,Zidgali,Oman,OMN,Critically endangered,NaN,23.4027,58.0957,Capital area of Muscat

In [45]:
#change the column name

In [46]:
data2 = pd.read_csv(r"D:\Personal\Udemy-Training\complete-data-wrangling-data-visualisation-with-python\Data-and-Code\Data and Code\section4\StudentsPerformance.csv")
data2.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [55]:
#new_cols = ['Race','Education','Tution']
data2.rename(columns={'race/ethnicity':'Race','parental level of education':'Education','test preparation course':'Tution'}).head()
#data2.head()

,gender,Race,Education,lunch,Tution,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [56]:
#changing the data types of column

In [60]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
gender                         1000 non-null object
race/ethnicity                 1000 non-null object
parental level of education    1000 non-null object
lunch                          1000 non-null object
test preparation course        1000 non-null object
math score                     1000 non-null int64
reading score                  1000 non-null int64
writing score                  1000 non-null int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [62]:
data2['math score'].head()

0    72
1    69
2    90
3    47
4    76
Name: math score, dtype: int64

In [64]:
data2['math score'].astype(float).head()

0    72.0
1    69.0
2    90.0
3    47.0
4    76.0
Name: math score, dtype: float64

In [65]:
# DateTime data exploration and visualization

In [66]:
data3 = pd.read_csv(r"D:\Personal\Udemy-Training\complete-data-wrangling-data-visualisation-with-python\Data-and-Code\Data and Code\section4\all_stocks_5yr.csv")
data3.head()

         date   open   high    low  close    volume Name
0  2013-02-08  15.07  15.12  14.63  14.75   8407500  AAL
1  2013-02-11  14.89  15.01  14.26  14.46   8882000  AAL
2  2013-02-12  14.45  14.51  14.10  14.27   8126000  AAL
3  2013-02-13  14.30  14.94  14.25  14.66  10259500  AAL
4  2013-02-14  14.94  14.96  13.16  13.99  31879900  AAL

In [67]:
data3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 619040 entries, 0 to 619039
Data columns (total 7 columns):
date      619040 non-null object
open      619029 non-null float64
high      619032 non-null float64
low       619032 non-null float64
close     619040 non-null float64
volume    619040 non-null int64
Name      619040 non-null object
dtypes: float64(4), int64(1), object(2)
memory usage: 33.1+ MB

In [85]:
import datetime as dt
data3['date']=data3['date'].apply(pd.to_datetime)
data3['date'].describe()

count                  619040
unique                   1259
top       2018-01-09 00:00:00
freq                      505
first     2013-02-08 00:00:00
last      2018-02-07 00:00:00
Name: date, dtype: object

In [86]:
data3.sort_values(by='date')

             date     open      high       low    close    volume   Name
0      2013-02-08   15.070   15.1200   14.6300   14.750   8407500    AAL
508224 2013-02-08   81.220   81.9300   80.9400   81.890    296853    SLG
506965 2013-02-08   78.240   79.0700   78.1250   79.070   4632684    SLB
85755  2013-02-08  236.640  238.6924  235.7500  238.160    552207    BLK
505706 2013-02-08   89.040   89.4800   88.9100   89.160    554948    SJM
87014  2013-02-08   22.635   22.7600   22.5875   22.680   1242144    BLL
504447 2013-02-08   63.170   63.5100   62.5500   62.910    723691    SIG
88273  2013-02-08   36.500   37.0300   36.4900   37.030   8462351    BMY
503188 2013-02-08  163.140  164.0000  162.6800  163.770    379624    SHW
501929 2013-02-08   19.240   19.3000   19.0900   19.250   1331904    SEE
89530  2013-02-08   97.250   97.3300   96.7300   97.250   2996000  BRK.B
500670 2013-02-08   17.180   17.2300   16.8100   16.890  15136075   SCHW
90789  2013-02-08    7.640    7.7300    7.5800    7.700  16664053    BSX
499411 2013-02-08   47.030   47.2400   46.7800   47.230    418302    SCG
92048  2013-02-08   36.750   37.4700   36.6850   37.470   1137494    BWA
498152 2013-02-08   27.920   28.3250   27.9200   28.185   7146296   SBUX
93307  2013-02-08  104.280  105.2500  104.1800  105.140   1054116    BXP
496893 2013-02-08   69.340   70.1200   68.9800   69.490    942111   SBAC
495634 2013-02-08   54.120   54.2200   53.7700   54.160   1494983    RTN
94566  2013-02-08   33.250   33.4550   33.1400   33.380   2919543    CAG
494375 2013-02-08   30.870   31.2900   29.9600   31.120   7228806    RSG
95825  2013-02-08   44.900   45.1800   44.8000   45.180   1877873    CAH
493116 2013-02-08   71.620   72.2600   71.3469   72.150   1082132    RRC
97084  2013-02-08   96.100   97.5000   96.1000   96.850   3934113    CAT
491857 2013-02-08   30.395   30.8550   30.2250   30.530   5476960   ROST
490598 2013-02-08  118.640  119.7000  118.4800  119.340    215732    ROP
84496  2013-02-08   27.800   28.0000   27.7550   27.900   6185855     BK
509483 2013-02-08   77.130   79.2400   77.0300   79.140    613825    SNA
83237  2013-02-08  163.570  165.8000  162.3250  164.440   1163956   BIIB
510742 2013-02-08   59.880   60.7800   59.5300   60.140   1047615    SNI
...           ...      ...       ...       ...      ...       ...    ...
314002 2018-02-07  115.860  119.1600  115.8300  117.950   1355671   JBHT
232457 2018-02-07   41.860   42.4200   41.5300   41.550   1821225    FLS
415078 2018-02-07  326.760  342.1400  326.0100  337.660   2099891    NOC
525849 2018-02-07  103.500  104.3900  101.3500  101.350   3704691   SWKS
155063 2018-02-07  117.400  119.2700  115.2300  115.290  11535704    CVX
506964 2018-02-07  119.270  121.1900  119.0300  119.830   1341496    SJM
376348 2018-02-07  267.040  270.9200  266.0600  267.660    758689    MHK
255059 2018-02-07  105.430  108.0600  105.4300  106.320    770089    GPN
284195 2018-02-07   32.710   33.5050   32.6000   32.740   3304752    HRL
184328 2018-02-07   95.580   97.5900   95.4600   96.080   1543277    DXC
99601  2018-02-07   33.550   34.4000   33.4500   34.000   4136564     CA
608967 2018-02-07   37.410   42.3900   37.3700   42.000  22101716     XL
208239 2018-02-07   82.320   84.3800   81.5900   81.620   3908996    ETN
346132 2018-02-07   77.760   78.5600   76.7100   76.720   8240329    LLY
457686 2018-02-07   99.900  101.6100   98.5000   98.880   5916838     PM
539327 2018-02-07   76.240   77.1600   75.7700   76.200   6012131    TJX
273944 2018-02-07   54.840   56.5700   54.7800   55.860   2412088    HIG
301474 2018-02-07  159.750  165.3050  159.1400  161.290   1673535   INTU
359981 2018-02-07   59.410   61.7800   59.3600   60.190   1924947    MAC
196918 2018-02-07   69.410   70.5200   68.7310   68.960   4045693    EMR
612744 2018-02-07   30.730   31.4050   30.7300   31.180   2983504    XRX
524590 2018-02-07  215.750  217.4900  214.0500  214.150   1791745    STZ
158840 2018-02-07   52.830   54.4500   52.8000   53.850   8995436    DAL
410042 2018-02-07   29.570   29.9300   28.4600   28.530   3800172    NFX
570007 2018-02-07   54.500   55.6800   54.4000   54.800  11005284    USB
147509 2018-02-07   53.380   54.3600   52.9400   52.970   6496219    CSX
31474  2018-02-07  107.460  109.4800  106.5600  106.630   1668253    ALB
241494 2018-02-07   10.750   11.0400   10.7000   10.760  68041787      F
42609  2018-02-07  176.250  180.9900  176.0000  177.470   5715671   AMGN
619039 2018-02-07   72.700   75.0000   72.6900   73.860   4534912    ZTS

[619040 rows x 7 columns]

In [87]:
data3['date'].min()

Timestamp('2013-02-08 00:00:00')